
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
.svs {
    width: 90%;
    margin: 0 auto;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
border-radius:50%;
    width: 100%;
    
 object-fit: cover;

}
p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span {
    color: crimson;
}
.section-title span2 {
    color: #0d98ba;
}
.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.cta:hover {
    color: white;
    background-color: crimson;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span {
    color: crimson;
}
.brand h1 span2 {
    color: #0d98ba;
}
.brand exc1 {

margin-left:30px;
	color: crimson;
	font-size: 1.2rem;
}
.brand exc2 {
	color: #0d98ba;
	font-size: 1.2rem;
}



/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.5s ease background-color;
}
#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
border-radius: 20px;
    flex-direction: column;
        z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    left: 100%;
}
#header .nav-list ul.active {
    left: 50%;
}
#header .nav-list ul a {

    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li:hover a {
    color: crimson;
}
#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after {
    top: 8px;
}
#header .hamburger .bar::before {
    bottom: 8px;
}
#header .hamburger.active .bar::before {
    bottom: 0;
}
#header .hamburger.active .bar::after {
    top: 0;
}

/* Hero Section */
#hero {
    background-image: url(log.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#hero h1 span1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #0d98ba;
    animation: text_reveal_box 1s ease;
    animation-delay: 1.5s;
}
#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* Services Section */
#services .services {

    padding: 70px 10px;
    background:#007474 ;
}
.services h2 {
font-size: 25px;
    color : white;
    text-align: center;
    margin-bottom: 20px;
}

.service-item {
    color: #008080;
    gap : 1rem;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 12px 19px 10px rgba(9, 4, 2, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}
.service-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Reviews Section */
#rv .reviews {
    margin-top: 50px;
    padding: 70px 0;
    background: #f4f4f4;
}
.review-item .stars {
    color: #FFD700;
    
}
.fa-badge-check {
    color: #0d98ba;
}
.review-item .stars .fa-star {
    margin-right: 5px;
}
.reviews h2 {
    text-align: center;
    margin-bottom: 20px;
}
.svx {
    margin-left: 425px;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #0d98ba;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.svx:hover {
    background-color: #0d98ba;
}
.reviews h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}
.review-item {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.review-item span4 {
    text-align: center;
    color: black;
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    display: block;
    margin-top: 10px;
    font-style: italic;
}
.review-item .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-pic {
        
    margin-right: 10px;
}
.review-name {
font-size: 1.6rem;
    font-weight: bold;
    margin-right: 10px;
}
.review-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}
.review-text {
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit the text to 5 lines */
    cursor: pointer;
}
.review-text.expanded {
    white-space: normal;
}
.review-text.expanded {
    -webkit-line-clamp: unset; /* Remove the line clamp when expanded */
    white-space: normal;
}
#rv .reviews {
    margin-top: 50px;
    padding: 70px 0;
    background: #f4f4f4;
}
.review-item .stars {
    color: #FFD700;
    margin-bottom: 10px;
    
}
.fa-badge-check {
    color: #0d98ba;
}
.review-item .stars .fa-star {
    margin-right: 5px;
}
.reviews h2 {
    text-align: center;
    margin-bottom: 20px;
}
.svx {
    margin-left: 425px;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    border-radius: 15px;
    background-color: transparent;
    border: 2px solid #0d98ba;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.svx:hover {
    background-color: #0d98ba;
}
.reviews h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
}
.review-item {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.review-item span4 {
    text-align: center;
    color: black;
    font-size: 1.6rem;
    margin-top: 10px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    display: block;
    margin-top: 10px;
    font-style: italic;
}
.review-item .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.review-name {
    font-weight: bold;
    margin-right: 10px;
}
.review-item .review-header .stars {
    margin-left: 10px; /* Optional: Adjust margin for spacing */
}
.review-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 10px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img::after {
    content: '';
border-radius: 50%;
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}


/* contact Section */
#contact .contact {
padding: 100px 20px;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {

	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
.fa-phone {
color: #25D366;

font-size: 5rem;
}

.fa-whatsapp {
color: #25D366;
font-size: 6rem;
}
.fa-location-dot {
color:#EA4335;
font-size: 5rem;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
.fa-shield-check {
color: #34b233;
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
		#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
              
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}

footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.contact-icons a:hover img {
    opacity: 0.7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .header .logo {
        width: 80px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .header .logo {
        width: 60px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Hover effects for buttons and links */
.hero button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.contact-icons img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 768px) {
    .header .logo {
        width: 80px;
    }

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .header .logo {
        width: 60px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* End  Media Query For Desktop */
#ph {
border-radius: 20px;
padding: 30px;
}
.chemist {

border-radius: 10px;
	position: relative;
	padding: 50px;
        margin-left:150px;
	background-color: #f5f5f5;
	text-align: center;
        width:1000px;
        height:500px;

}


.city{

    width:50px;
    height:200px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;

}
.city:nth-child(1),
.city:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
border-radius: 10px;
}
.city:nth-child(3){
    left:90%;
}
.city:nth-child(4){
    left:calc(90% + 60px);
}
.city:nth-child(5){
    left:calc(90% + 120px);
}
.city:nth-child(n+6){
    left:calc(90% + 180px);
    opacity: 0;
}
.city .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
border-radius: 20px;
    font-family: system-ui;
}
.city:nth-child(2) .content{
    display: block;
border-radius: 20px;
    z-index: 11111;
}
.city button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showfax 1s ease-in-out 0.6s 1 forwards
}
@keyframes showfax{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.fax{
    position: absolute;
    bottom:30px;
    z-index: 2;
    text-align: center;
    width:100%;
}
.fax button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.fax button:hover{
    background-color: #bac383;
}
@media only screen and (max-width: 600px){
#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 0px;
	}
img {
 width: 300px;
border-radius: 50%;
    height: auto;
}
#hero .hero {
		margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

}
@media (max-width: 480px) {
    .header .logo {
        width: 60px;
    }
.services h2 {
font-size: 20px;
}
.svx  {
 margin-left:15px;
}
 .contact-item .icon {
		height: 50px;
		width: 50px;
}
    header h1 {
        font-size: 2rem;
    }
    header p {
        font-size: 0.9rem;
    }
    .chemist {
 margin-left:10px;
        height: 380px;
        width: 350px;
    }
    .city {
        width: 25px;
        height: 120px;
    }
.city:nth-child(3){
    left:83%;
}
.city:nth-child(4){
    left:calc(83% + 30px);
}
.city:nth-child(5){
    left:calc(83% + 60px);
}
.city:nth-child(n+6){
    left:calc(83% + 90px);
    opacity: 0;
}
    .contact .contact-item {
        width: 10%;
    }
}
